@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body, html, main{
    width: 100vw;
    height: 100vh;
}
body{
    position: relative;
    background: rgb(30, 30, 30) url(imagens/fundo-madeira.jpg) center bottom;
    background-size: cover;
}



section#celular{
position: absolute;
top: 50%;
right: 50%;
transform: translate(50%, -50%);
width: 311px;
height: 627px;
background: url(imagens/frame-iphone.png);
display: block;
margin: auto;
}
iframe{
position: relative;
width: 280px;
height: 590px;
margin-top: 74px;
margin-left: 15px;
}






nav{
position: absolute;
right: 0;
margin: 20px;
}
a > img, a{
width: 100px;
height: 100px;
border-radius: 300px;
padding: 10px;
}
a:hover{
    transition-duration: 1.5s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
}