@charset "UTF-8";
main{
    width: 40vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.5vh;
    margin: auto;
}
table{
    border-collapse: collapse;
}
td, th{
    border: 1px solid black;
    padding: 10px;
}
table{
    width: 650px;
}
thead, tfoot{
    background-color: rgb(99, 99, 99);
    color: white;
}
caption{
    font-weight: 600;
    padding: 12px;
    background-color: gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
tbody tr:nth-child(5n){
    background-color: lightgray;
}